[Unit]
Description=Daily Factorio mod cache refresh

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
