[Unit]
Description=Refresh the Factorio mod cache for all channels
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/venv/bin/fsm mods refresh --game-version all
